body {
  background-color:black;
  color:rgb(194, 174, 150);
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}


/*Überschriften*/
h1 {
    text-align: center;
    font-size: 2.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Arial, sans-serif;
    margin-bottom: auto;
    color:rgb(22, 188, 191);
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: auto;
    color: rgb(9, 109, 124);
}

h3 {
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: auto;
    color:rgb(9, 109, 124);
}


/*Absätze*/
p {
    text-align: center;
  line-height: 1.6;
  font-size: 1.05rem;
}


/*Listen*/
ul {
  padding-left: 1.2rem;  
}

li {
  margin-bottom: 10px;    
}


/*Links*/
a:link {
    color:rgb(176, 58, 117) !important;
    text-decoration:underline;
    text-decoration-color:aqua;
}
a:visited {
    color:rgb(5, 96, 142);
    text-decoration:underline;
    text-decoration-color:darkgreen;
}

a:hover {
    color:aquamarine;
    text-decoration: none;
}

/*footer*/
footer {
    color:aquamarine;
    text-align: center;
}


/*Bilder*/
img {
    height: auto;
    width: 500px;
    margin: 20px auto;  /* 20px oben & unten, links/rechts automatisch */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: block;
}


/*nav*/
nav {
  background:aquamarine;
  display:flex;
  gap: 40px;
  justify-content: center;
}




